/* App.css */
.App section {
}

/* components/Header.css */

/* components/Hero.css */
.hero {
  padding-top: 10px;
  color: white;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 80px;
  text-align: center;
}

.hero h2 {
  margin: 0;
  padding-top: 20px;
  font-size: 4rem;
}

.hero span {
  color: rgb(200, 51, 200);
}

.hero p {
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.hero button {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 15px 25px;
  border: 2px solid purple;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
  background-color: rgb(51, 51, 51);
}

/* components/intro.css */
/* components/Partner.css */
.partner {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.paystack-img {
  width: 250px;
  display: block;
}

.palmpay-img {
  width: 250px;
  display: block;
}
/* components/Services.css */
/* components/About.css */
.About {
  margin-top: 40px;
  height: 50vh;
}

.About-contact {
  padding: 40px 20px;
}

.About h2 {
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

.About-contact p {
  text-align: center;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.about-detail {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-detail p {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 600;
  border-bottom: 1px solid purple;
}

.about-detail ul {
  list-style: none;
  padding: 0;
}

.about-detail ul li {
  font-size: 1.5rem;
}

/* components/Footer.css */

/* Media Query for Mobile */
@media (max-width: 1284px) {
  /* components/Header.css */
  .header-logo img:hover {
    border: 2px solid purple;
  }
  .header-list ul {
    display: none;
  }
  .App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  .header-button button {
    font-size: 1.2rem;
    padding: 10px 20px;
    border: 2px solid purple;
    background-color: rgb(51, 51, 51);
    color: white;
  }
  /* components/Hero.css */
  .hero {
    height: 90vh;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  .hero h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .hero-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  /* components/intro.css */
  .intro {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .intro-detail h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  .intro-detail span {
    font-size: 1.4rem;
    color: purple;
  }

  .intro-detail p {
    font-size: 1.1rem;
  }

  .intro-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }

  .intro-card p {
    font-size: 1.5rem;
  }

  .intro-card span {
    font-size: 1.2rem;
  }

  .About-contact {
    padding: 20px;
  }

  .About h2 {
    font-size: 2.5rem;
  }

  .About-contact p {
    font-size: 1.2rem;
  }

  .about-detail {
    flex-direction: column;
    gap: 20px;
  }

  .about-detail p {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
  }

  .about-detail ul {
    text-align: center;
  }

  .about-detail ul li {
    font-size: 1.2rem;
  }
  /* services */
  .Services {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .service-detail {
    padding: 20px;
    background-color: black;
    color: white;
  }
  .service-detail span {
    color: purple;
  }
  .service-detail hr {
    background-color: purple;
  }
  .service-card {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .partner p {
    font-size: 1.7rem;
    text-align: center;
    border-bottom: 2px solid purple;
  }
  .partner-image span {
    display: block;
  }
  .Footer {
    text-align: center;
  }
  .Footer hr {
    color: purple;
    background-color: purple;
    height: 0.5px;
  }
  .intro button {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 20px 40px;
    border: 2px solid purple;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    background-color: rgb(51, 51, 51);
  }
}
@media only screen and (min-width: 1285px) {
  .App-header {
    background-color: white;
    padding: 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo img:hover {
    border: 2px solid purple;
  }

  .header-list ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: 400;
  }

  .header-list ul li:hover {
    border-bottom: 2px solid purple;
    cursor: pointer;
  }

  .header-button button {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 6px 20px;
    border: 2px solid purple;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    color: white;
    background-color: rgb(51, 51, 51);
  }

  .header-button button:hover {
    box-shadow: 0 5px 15px rgba(239, 0, 252, 0.589);
    transition: all 0.3s;
  }
  .intro {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem;
  }

  .intro-detail h3 {
    font-size: 5rem;
    margin: 0;
  }

  .intro-detail span {
    color: purple;
    font-size: 4rem;
    font-weight: 500;
  }

  .intro-detail p {
    font-size: 2rem;
    width: 75%;
  }

  .intro button {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 20px 40px;
    border: 2px solid purple;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    background-color: rgb(51, 51, 51);
  }

  .intro button:hover {
    box-shadow: 0 5px 15px rgba(239, 0, 252, 0.589);
    transition: all 0.3s;
  }

  .intro-card {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }

  .intro-card p {
    font-size: 2rem;
  }

  .intro-card span {
    font-size: 1.5rem;
  }
  .Services {
    margin-top: 40px;
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    height: 80vh;
    padding: 40px 80px;
  }

  .service-detail span {
    color: purple;
  }
  .Services h3 {
    font-size: 1.2rem;
  }
  .Services hr {
    border-bottom: 1px solid purple;
  }
  .service-detail p {
    font-size: 3rem;
  }
  .service-card {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .service-card p {
    font-size: 2rem;
  }
  .service-card span {
    font-size: 1.3rem;
  }
  .partner {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-between;
    padding: 10px 40px;
  }
  .partner-detail p {
    font-size: 3rem;
    text-align: center;
  }
  .partner-image {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .Footer {
    margin-top: 50px;
    padding: 10px;
    text-align: center;
  }

  .Footer hr {
    background-color: purple;
    height: 1.5px;
    margin-bottom: 50px;
  }

  .Footer p {
    margin: 0;
  }
}
